/* Comment.css */

.comment {
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-actions {
  display: flex;
  align-items: center;
}

.comment-action {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #999999;
  margin-right: 10px;
  
}

.comment-action:hover {
  color: #333333;
}

.comment-info {
  font-size: 12px;
  color: #999999;
}

.comment-text {
  margin-bottom: 10px;
}

.timestamp {
  font-style: italic;
}

.reply-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reply-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-right: 10px; /* Adjusted margin for button space */
}

.submit-reply, .close-reply {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

.submit-reply:hover, .close-reply:hover {
  background-color: #0056b3;
}

.close-reply {
  position: absolute;
  right: 80px; /* Adjusted position */
  top: 50%;
  transform: translateY(-50%);
}

.comment-action.reply-button {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.starred{
    color: greenyellow;
}